@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Inter:wght@300..900&display=swap');
@import "tailwindcss";

@theme {
  --color-gold-light: #f3e5ab;
  --color-gold: #d4af37;
  --color-gold-dark: #aa8c2c;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#0a0a0a] text-gray-200 font-sans antialiased;
}
